@{
    Dictionary<string, string> pairs = new Dictionary<string, string>
    {
        {"Mushrooms", "mushrooms"},
        {"Apple", "apple"},
        {"Banana", "banana"},
        {"Blackberry", "blackberry"},
        {"Blueberry", "blueberry"},
        {"Coconut", "coconut"},
        {"Kiwifruit", "kiwifruit"},
        {"Mango", "mango"},
        {"Orange", "orange"},
        {"Grape", "grape"},
        {"Papaya", "papaya"},
        {"Stawberry", "stawberry"},
        {"Pineapple", "pineapple"},
        {"Watermelon","watermelon" },
        {"Salad","salad" },
        {"Pizza","pizza" },
        {"Pasta","pasta" },
        {"Popcorn","popcorn" },
        {"Hamburger","hamburger" },
        {"Pie","pie" },
        {"Cake", "cake" },
        {"Sausage","sausage" },
        { "Kabab","kabab" },
        {"Poutine","poutine" },
        { "Seafood","seafood" },
        { "Chips","chips" },
        { "Fries","fries" },
        { "Masala","masala" },
        { "Chicken","chicken" },
        { "Chocolate","chocolate" },
        { "Sushi","sushi" },
        { "Ice cream","ice cream" },
    };
}
<ul class="list-group-flush px-0 vh-100 overflow-auto ">
    @foreach (var item in pairs)
    {
        <li class="recipe-item list-group-item">
            <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=@item.Value">@item.Key</a>
        </li>
    }
   
   
</ul>